@inherits Form<IqOptionAdminSignalDomain>

@this.Body

@code{
    [Parameter]
    public Action OnUserLinkCallback
    {
        get;
        set;
    }

    protected override Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        return Task.Run(() => {
            this.Body = this.RenderBody();
        });
    }

    protected override void LoadContent()
    {
        if (string.IsNullOrEmpty(this.Class) || string.IsNullOrWhiteSpace(this.Class))
        {
            this.Class = "d-flex flex-column w-100 align-self-center p-md-1 p-lg-1 p-xl-1";
        }

        this.OnModelLoad(this.Model);

        this.Content = new Collection<RenderFragment>();
        this.Content.Add(this.GetForm());
    }

    protected override void OnModelLoad(IqOptionAdminSignalDomain model)
    {
        base.OnModelLoad(model);

        Bag bag = this.DataBag["MODEL_TO_EDIT"];
        if (bag != null)
        {
            this.Model = ((IqOptionAdminSignalDomain)bag.Value);
        }

        this.DataBag.Remove(bag);
    }

    protected override Task<bool> OnModelPush(IqOptionAdminSignalDomain model)
    {
        return Task.Run<bool>(async () => {

            var lstResult = await this.PostWithTokenAsync<IqOptionAdminSignalDomain>("Signal/UpdateOrInsertInto", model);
            if (lstResult == null || lstResult.Count < 1)
            {
                return false;
            }

            model = lstResult.Single();
            if (model == null || string.IsNullOrEmpty(model.Uuid.ToString()) || string.IsNullOrWhiteSpace(model.Uuid.ToString()))
            {
                return false;
            }

            this.Data.Add(model);

            this.Model = new IqOptionAdminSignalDomain();

            return true;
        });
    }

    protected override Task<bool> OnModelValidate(IqOptionAdminSignalDomain model)
    {
        if (model == null || model == default)
        {
            Console.WriteLine("Invalid 'MODEL' value.");

            return Task.Run<bool>(() => { return false; });
        }

        if (model.Entry <= DateTime.Now)
        {
            Console.WriteLine("Invalid 'DATE' value.");

            return Task.Run<bool>(() => { return false; });
        }

        return Task.Run<bool>(() => { return true; });
    }

    protected override Task OnModelBindings(IqOptionAdminSignalDomain model)
    {
        model.Entry = model.Entry.ToLocalTime();
        model.UuidUser = this.User?.Uuid;
        model.User = this.User;

        return base.OnModelBindings(model);
    }

    private RenderFragment GetForm()
    {
        Base Container = new Base();
        Container.Parent = this;
        Container.Class = "d-flex flex-wrap justify-content-center w-100";
        Container.Content = new Collection<RenderFragment>() {
            this.GetDateInputContainer(Container),
            this.GetDurationInputContainer(Container),
            this.GetPairInputContainer(Container),
            this.GetDirectionInputContainer(Container),
            this.GetAmountInputContainer(Container),
            this.GetMartinGaleInputContainer(Container),
            this.GetMartinGaleValueInputContainer(Container),
            this.GetCommitButtonContainer(Container)
        };

        return Container.RenderBody();
    }

    private RenderFragment GetDateInputContainer(Base Parent)
    {
        Base DateInputContainer = new Base();
        DateInputContainer.Parent = Parent;
        DateInputContainer.Class = "d-flex p-2 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-center";
        DateInputContainer.Content = new Collection<RenderFragment>();

        Base DateInputSubContainer = new Base();
        DateInputSubContainer.Parent = DateInputSubContainer;
        DateInputSubContainer.Class = "form-group w-100";

        if (this.Model == null)
        {
            DateInputContainer.Content.Add(DateInputSubContainer.RenderBody());

            return DateInputContainer.RenderBody();
        }

        Collection<RenderFragment> DateInputSubContainerContent = new Collection<RenderFragment>();
        DateInputSubContainerContent.Add(@<Label Parent="@DateInputSubContainer" For="dateInput" Text="Data:"/>);
        DateInputSubContainerContent.Add(@<MatDatePicker Outlined="true" TValue="DateTime" Enable24hours="true" EnableSeconds="true" Format="dd/MM/yyyy HH:mm:ss" EnableTime="true" @bind-Value="@this.Model.Entry" Class="w-100" Id="dateInput"/>);

        DateInputSubContainer.Content = DateInputSubContainerContent;

        DateInputContainer.Content.Add(DateInputSubContainer.RenderBody());

        return DateInputContainer.RenderBody();
    }

    private RenderFragment GetDurationInputContainer(Base Parent)
    {
        Base DurationInputContainer = new Base();
        DurationInputContainer.Parent = Parent;
        DurationInputContainer.Class = "d-flex p-2 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-center";
        DurationInputContainer.Content = new Collection<RenderFragment>();

        Base DurationInputSubContainer = new Base();
        DurationInputSubContainer.Parent = DurationInputContainer;
        DurationInputSubContainer.Class = "form-group w-100";

        if (this.Model == null)
        {
            DurationInputContainer.Content.Add(DurationInputSubContainer.RenderBody());

            return DurationInputContainer.RenderBody();
        }

        Collection<RenderFragment> IntervalInputSubContainerContent = new Collection<RenderFragment>();
        IntervalInputSubContainerContent.Add(@<Label Parent="@DurationInputSubContainer" Class="w-100" For="expInput" Text="Duração:"/>);
        IntervalInputSubContainerContent.Add(this.GetDurationInputField());

        DurationInputSubContainer.Content = IntervalInputSubContainerContent;

        DurationInputContainer.Content.Add(DurationInputSubContainer.RenderBody());

        return DurationInputContainer.RenderBody();
    }

    private RenderFragment GetDurationInputField()
    {
        return @<MatSelect TValue="int" Outlined="true" @bind-Value="@this.Model.Exp" Class="w-100" Id="expInput">
                    @foreach (RenderFragment option in this.GetDurationInputFieldOptions())
                    {
                        @option
                    }
                </MatSelect>;
    }

    private Collection<RenderFragment> GetDurationInputFieldOptions()
    {
        Collection<RenderFragment> options = new Collection<RenderFragment>();

        foreach (IqOptionAdminSignalDomain.EnmExp exp in Enum.GetValues(typeof(IqOptionAdminSignalDomain.EnmExp)))
        {
            options.Add(@<MatOption TValue="int" Value=@((int)exp) Class="w-100">@(((int)exp).ToString())</MatOption>);
        }

        return options;
    }

    private RenderFragment GetAmountInputContainer(Base Parent)
    {
        Base AmountInputContainer = new Base();
        AmountInputContainer.Parent = Parent;
        AmountInputContainer.Class = "d-flex p-2 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-center";
        AmountInputContainer.Content = new Collection<RenderFragment>();

        Base AmountInputSubContainer = new Base();
        AmountInputSubContainer.Parent = AmountInputContainer;
        AmountInputSubContainer.Class = "form-group w-100";

        if (this.Model == null)
        {
            AmountInputContainer.Content.Add(AmountInputSubContainer.RenderBody());

            return AmountInputContainer.RenderBody();
        }

        Collection<RenderFragment> AmountInputSubContainerContent = new Collection<RenderFragment>();
        AmountInputSubContainerContent.Add(@<Label Parent="@AmountInputSubContainer" For="amountInput" Text="Valor:"/>);
        AmountInputSubContainerContent.Add(@<MatNumericUpDownField TValue="int" @bind-Value="@this.Model.Amount" Outlined="true" FieldType="MatNumericUpDownFieldType.Currency" DecimalPlaces=2 Class="w-100" Id="amountInput" />);

        AmountInputSubContainer.Content = AmountInputSubContainerContent;

        AmountInputContainer.Content.Add(AmountInputSubContainer.RenderBody());

        return AmountInputContainer.RenderBody();
    }

    private RenderFragment GetMartinGaleInputContainer(Base Parent)
    {
        Base MartinGaleInputContainer = new Base();
        MartinGaleInputContainer.Parent = Parent;
        MartinGaleInputContainer.Class = "d-flex p-2 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-center";
        MartinGaleInputContainer.Content = new Collection<RenderFragment>();

        Base MartinGaleSubContainer = new Base();
        MartinGaleSubContainer.Parent = MartinGaleInputContainer;
        MartinGaleSubContainer.Class = "form-group w-100";

        if (this.Model == null)
        {
            MartinGaleInputContainer.Content.Add(MartinGaleSubContainer.RenderBody());

            return MartinGaleInputContainer.RenderBody();
        }

        Collection<RenderFragment> MartinGaleInputSubContainerContent = new Collection<RenderFragment>();
        MartinGaleInputSubContainerContent.Add(@<Label Parent="@MartinGaleSubContainer" For="martingaleInput" Text="Martingale:"/>);
        MartinGaleInputSubContainerContent.Add(@<MatNumericUpDownField TValue="int" @bind-Value="@this.Model.MartinGaleCount" Outlined="true" FieldType="MatNumericUpDownFieldType.Numeric" DecimalPlaces=2 Class="w-100" Id="martingaleInput" />);

        MartinGaleSubContainer.Content = MartinGaleInputSubContainerContent;

        MartinGaleInputContainer.Content.Add(MartinGaleSubContainer.RenderBody());

        return MartinGaleInputContainer.RenderBody();
    }

    private RenderFragment GetMartinGaleValueInputContainer(Base Parent)
    {
        Base MartinGaleValueInputContainer = new Base();
        MartinGaleValueInputContainer.Parent = Parent;
        MartinGaleValueInputContainer.Class = "d-flex p-2 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-center";
        MartinGaleValueInputContainer.Content = new Collection<RenderFragment>();

        Base MartinGaleValueInputSubContainer = new Base();
        MartinGaleValueInputSubContainer.Parent = MartinGaleValueInputContainer;
        MartinGaleValueInputSubContainer.Class = "form-group w-100";

        if (this.Model == null)
        {
            MartinGaleValueInputContainer.Content.Add(MartinGaleValueInputSubContainer.RenderBody());

            return MartinGaleValueInputContainer.RenderBody();
        }

        Collection<RenderFragment> AmountInputSubContainerContent = new Collection<RenderFragment>();
        AmountInputSubContainerContent.Add(@<Label Parent="@MartinGaleValueInputSubContainer" For="martingaleValueInput" Text="Martingale(R$):"/>);
        AmountInputSubContainerContent.Add(@<MatNumericUpDownField TValue="decimal" @bind-Value="@this.Model.MartinGale" Outlined="true" FieldType="MatNumericUpDownFieldType.Currency" DecimalPlaces=2 Class="w-100" Id="martingaleValueInput" />);

        MartinGaleValueInputSubContainer.Content = AmountInputSubContainerContent;

        MartinGaleValueInputContainer.Content.Add(MartinGaleValueInputSubContainer.RenderBody());

        return MartinGaleValueInputContainer.RenderBody();
    }

    private RenderFragment GetPairInputContainer(Base Parent)
    {
        Base PairInputContainer = new Base();
        PairInputContainer.Parent = Parent;
        PairInputContainer.Class = "d-flex p-2 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-center";
        PairInputContainer.Content = new Collection<RenderFragment>();

        Base PairInputSubContainer = new Base();
        PairInputSubContainer.Parent = PairInputContainer;
        PairInputSubContainer.Class = "form-group w-100";

        if (this.Model == null)
        {
            PairInputContainer.Content.Add(PairInputSubContainer.RenderBody());

            return PairInputContainer.RenderBody();
        }

        Collection<RenderFragment> PairInputSubContainerContent = new Collection<RenderFragment>();
        PairInputSubContainerContent.Add(@<Label Parent="@PairInputSubContainer" Class="w-100" For="pairInput" Text="Par:"/>);
        PairInputSubContainerContent.Add(this.GetPairInputField());

        PairInputSubContainer.Content = PairInputSubContainerContent;

        PairInputContainer.Content.Add(PairInputSubContainer.RenderBody());

        return PairInputContainer.RenderBody();
    }

    private RenderFragment GetPairInputField()
    {
        return @<MatSelect TValue="int" Outlined="true" @bind-Value="@this.Model.ActivePair" Class="w-100" Id="pairInput">
                    @foreach (RenderFragment option in this.GetPairInputFieldOptions())
                    {
                        @option
                    }
                </MatSelect>;
    }

    private Collection<RenderFragment> GetPairInputFieldOptions()
    {
        Collection<RenderFragment> options = new Collection<RenderFragment>();

        foreach (IqOptionAdminSignalDomain.EnmActivePair activePair in Enum.GetValues(typeof(IqOptionAdminSignalDomain.EnmActivePair)))
        {
            options.Add(@<MatOption Value=@((int)activePair) Class="w-100">@Enum.GetName(activePair.GetType(), activePair)</MatOption>);
        }

        return options;
    }

    private RenderFragment GetDirectionInputContainer(Base Parent)
    {
        Base DirectionInputContainer = new Base();
        DirectionInputContainer.Parent = Parent;
        DirectionInputContainer.Class = "d-flex p-2 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-center";
        DirectionInputContainer.Content = new Collection<RenderFragment>();

        Base DirectionInputSubContainer = new Base();
        DirectionInputSubContainer.Parent = DirectionInputContainer;
        DirectionInputSubContainer.Class = "form-group w-100";

        if (this.Model == null)
        {
            DirectionInputContainer.Content.Add(DirectionInputSubContainer.RenderBody());

            return DirectionInputContainer.RenderBody();
        }

        Collection<RenderFragment> DirectionInputSubContainerContent = new Collection<RenderFragment>();
        DirectionInputSubContainerContent.Add(@<Label Parent="@DirectionInputSubContainer" Class="w-100" For="directionInput" Text="Direção:"/>);
        DirectionInputSubContainerContent.Add(this.GetDirectionInputField());

        DirectionInputSubContainer.Content = DirectionInputSubContainerContent;

        DirectionInputContainer.Content.Add(DirectionInputSubContainer.RenderBody());

        return DirectionInputContainer.RenderBody();
    }

    private RenderFragment GetDirectionInputField()
    {
        return @<MatSelect Outlined="true" @bind-Value="@this.Model.OrderDirection" Class="w-100" Id="directionInput">
                    @foreach (RenderFragment option in this.GetDirectionInputFieldOptions())
                    {
                        @option
                    }
                </MatSelect>;
    }

    private Collection<RenderFragment> GetDirectionInputFieldOptions()
    {
        Collection<RenderFragment> options = new Collection<RenderFragment>();

        foreach (IqOptionAdminSignalDomain.EnmOrderDirection orderDirection in Enum.GetValues(typeof(IqOptionAdminSignalDomain.EnmOrderDirection)))
        {
            options.Add(@<MatOption Value=@((int)orderDirection)>@Enum.GetName(orderDirection.GetType(), orderDirection)</MatOption>);
        }

        return options;
    }

    private RenderFragment GetCommitButtonContainer(Base Parent)
    {
        Base DateInputContainer = new Base();
        DateInputContainer.Parent = Parent;
        DateInputContainer.Class = "d-flex p-2 pt-xl-3 w-xl-25 w-lg-100 w-md-100 w-sm-100 justify-content-end align-items-center";
        DateInputContainer.Style = "min-height:56px";
        DateInputContainer.Content = new Collection<RenderFragment>()
        {
            this.GetButtonUser(),
            this.GetButton()
        };

        return DateInputContainer.RenderBody();
    }

    private RenderFragment GetButtonUser()
    {
        return @<div class="pr-2">
                    <button id="@Guid.NewGuid().ToString()" class="btn btn-dark d-flex w-lg-100 w-md-100 w-sm-100 pt-3 pb-3 align-items-center justify-content-center" type="button" style="height: 56px; width: 56px;" @onclick="OnUserLink">
                        <span class="d-xl-none justify-content-center">Adicionar usuários</span>
                        <MatIcon Icon="@MatIconNames.Supervised_user_circle" Class="d-none d-xl-flex d-lg-flex d-md-flex justify-content-center pl-xl-0 pl-lg-2 pl-md-2 pl-sm-3" />
                    </button>
                </div>;
    }

    private RenderFragment GetButton()
    {
        return @<button id="@Guid.NewGuid().ToString()" class="btn btn-dark d-flex w-lg-100 w-md-100 w-sm-100 pt-3 pb-3 align-items-center justify-content-center" type="button" style="height: 56px; width: 56px;" @onclick="OnCommit">
                    <span class="d-xl-none justify-content-center">Adicionar sinal</span>                
                    <MatIcon Icon="@MatIconNames.Add_circle" Class="d-none d-xl-flex d-lg-flex d-md-flex justify-content-center pl-xl-0 pl-lg-2 pl-md-2 pl-sm-3" />
                </button>;
    }

    private void OnCommit()
    {
        Task.Run(async () => {
            await this.OnFormSubmit(this.Model);
        });
    }

    private void OnUserLink()
    {
        this.OnUserLinkCallback?.Invoke();
    }
}